<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Real-Time Dashboard</title>
		<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/css/bootstrapSwitch.css' />
		<script src="/js/jquery-1.9.1.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/highcharts.js"></script>
		<script src="/js/highcharts-more.js"></script>
		<script src="/js/exporting.js"></script>	
		<script src="/js/bootstrapSwitch.min.js"></script>	
		<script src="/js/charting.js"></script>
		<script>

			var ArDroneModule = function() {

				var altitude = function() {
					var altitude = io.connect('http://localhost/altitude');
					var altitude_data = new Array();
					altitude.on('connect', function(){
						console.log("Connected to the altitude data stream.");
					});

					altitude.on('altitude', function(data){
						console.log("Getting altitude data");

						$("#altitude").text(data.value);
						altitude_chart.series[0].addPoint([(new Date()).getTime(), parseInt(data.value)], true, true, false);
					});
				};

				var speed = function() {
					var speed = io.connect('http://localhost/speed');
					var speed_data = new Array();
					var counter = 0;
					speed.on('connect', function(){
						console.log("Connected to the speed data stream.");
					});

					speed.on('speed', function(data){
						console.log("Getting speed data");
						speed_data.push({x: (new Date()).getTime(), y: Math.abs(parseInt(data.value.z))});

				        var point = speed_chart.series[0].points[0];
				        point.update(data.value.x);
					});
				};

				var flight = function() {
					var flying = io.connect('http://localhost/flying');
					flying.on('connect', function(){
						console.log("Connected to the flying data stream.");
					});

					flying.on('flying', function(data){
						console.log("Getting flying data");
						$('#flying').bootstrapSwitch('setState', data.value);
					});					
				};

				var executeTakeOff = function() {
					// Call the takeoff function on the server
					// to start the drone flight program
					$.post('api/takeoff', function () {
					});
				};

				return {
					altitude: altitude,
					speed: speed,
					flight: flight,
					executeTakeOff: executeTakeOff
				}
			}

			var adm = new ArDroneModule();
			adm.altitude();
			adm.speed();
			adm.flight();

		</script>
	</head>
	<body>
		<div class="container-fluid" style="width:100%">			
			<div class="row-fluid">
				<div class="span6">						
					<div id="altitude_chart">
					</div>
				</div>
				<div class="span5">									
					<div id="speed_gauge">
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span4">
					<span style="font-size: 20px; padding-right: 10px;">Are we flying?</span>
					<div id="flying" class="switch switch-large" data-on-label="Yes" data-off-label="No" data-on="success" data-off="danger">
						<input type="checkbox" />
					</div>
				</div>
			</div>
			<div class="row-fluid" style="text-align: center; margin-top: 50px;">
				<div class="btn btn-large btn-success" onclick="adm.executeTakeOff()" style="width: 150px; height: 60px;"><h1>Take off!</h1></div>
			</div>
		</div>
	</body>
</html>